
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="row">

    <div class="col-sm-12">
        <img src="/Home/ChartColumn?tip=Column" alt="Chart 1" />  @* ?chart_tip = Column ,ekledik çünkü ChartType ını Controller tarafında elle almak yerine artık  parametre youluyla alıyoruz.*@
    </div>


</div>




